<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.pan.mapper.ShareMapper">

    <resultMap id="BaseResultMap" type="com.fx.pan.domain.Share">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="batchNum" column="batch_num" jdbcType="VARCHAR"/>
        <result property="extractionCode" column="extraction_code" jdbcType="VARCHAR"/>
        <result property="fileId" column="file_id" jdbcType="BIGINT"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="browseTimes" column="browse_times" jdbcType="BIGINT"/>
        <result property="downloadTimes" column="download_times" jdbcType="BIGINT"/>
        <result property="saveTimes" column="save_times" jdbcType="BIGINT"/>
        <result property="expired" column="expired" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="shareTime" column="share_time" jdbcType="TIMESTAMP"/>
        <result property="expiredTime" column="expired_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>

    </resultMap>

    <sql id="Base_Column_List">
        id
        ,type,batch_num,
        extraction_code,browse_times,download_times,
        expired,status,share_time,
        expired_time,update_time,user_id,
        deleted
    </sql>
    <select id="selectShareAndFileInfo" resultType="java.util.List">
        select *
        from share a
                 LEFT JOIN share ON share.user_id = a.user_id
                 left join file b on b.id = a.file_id
        where a.user_id = #{userId}
    </select>
    <select id="selectShareFileList" resultType="com.fx.pan.vo.share.ShareFileListVO">
        select *
        from share a
                 LEFT JOIN share ON share.user_id = a.user_id
                 left join file b on b.id = a.file_id
        where a.user_id = #{userId}
    </select>
</mapper>
